@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 640px) {
  .bodyHeight {
    height: calc(100vh - 8rem);
  }
}

html,
body {
  background-color: var(--background-color, #ffffff); /* Default white */
  margin: 0; /* Remove default margins */
  padding: 0;
  min-height: 100%;
}

.right-4\.5 {
  right: 1.2rem
}